.rose_text{
    color: #f24570!important;
}
.rose_btn{
    background-color: #f24570!important;
}
.round_btn{
    border-radius: 25px;
}
.white_text{
    color: #ffffff!important;
}
.white_text:hover{
    color: #ffffff!important;
}