.rose_text{
    color: #f24570!important;
}
.rose_btn{
    background-color: #f24570!important;
}
.round_btn{
    border-radius: 25px;
}
.white_text{
    color: #ffffff!important;
}
.white_text:hover{
    color: #ffffff!important;
}

div.about--style3, .about--style2 {
    margin: 0;
    /* reset unless indentation */
}

.col .banner__thumb {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: auto;
    max-height: 444px;
    width: 100%;
    /* center the image  */
}

.about.about--style2 {
    width: 100%; !important;
}

.ragi__slider .swiper-wrapper .swiper-slide {
    width: max-content;
}

.about__left .about__bottom .about__bottom--head {
    display: flex;
    justify-content: center;
    gap: 92px;
}
.section__wrapper .row .col .about__item .about__inner .about__thumb img {
    border-radius: 0;
}
