.rose_text{
    color: #f24570!important;
}
.rose_btn{
    background-color: #f24570!important;
}
.round_btn{
    border-radius: 25px;
}
.white_text{
    color: #ffffff!important;
}
.white_text:hover{
    color: #ffffff!important;
}
div.about--style3, .about--style2 {
    margin: 0;
    /* reset unless indentation */
}

@media (min-width: 992px) {
    .col .about__left, .about__right {
        height: 100%;
    }
}
.footer__newsletter--form {
    align-items: center;
    width: auto;
}
.footer__newsletter--form a {
    white-space: nowrap;
}
.footer__newsletter--title h4 {
    margin: 0;
}