.rose_text{
    color: #f24570!important;
}
.rose_btn{
    background-color: #f24570!important;
}
.round_btn{
    border-radius: 25px;
}
.white_text{
    color: #ffffff!important;
}
.dark_text {
    color: #213366 !important;
}
.white_text:hover{
    color: #ffffff!important;
}
.section__wrapper .right, .app--style2::after {
    background-size: cover !important;
    width: 100%;
    height: 100%;
}