.rose_text{
    color: #f24570!important;
}
.rose_btn{
    background-color: #f24570!important;
}
.round_btn{
    border-radius: 25px;
}
.white_text{
    color: #ffffff!important;
}
.white_text:hover{
    color: #ffffff!important;
}
div.about--style3 {
    margin: 0;
}
@media (max-width: 991px) and (min-width: 576px) {
    button.nav-link > img {
        display: none;
    }
}
@media (max-width: 1440px) {
    .work__inner .work__content {
        padding: 20px;
    }
}